*.log
log_*
log.liggghts*
log.lammps*
CFD/processor*
CFD/postProcessing
CFD/[0-9]*
DEM/post/
DEM/results/
DEM/restarts/
*.restart*
*.liggghts
lnInclude/
Make/linux*
platforms/
log_solve.txt
**/results/
# simulation output & build artifacts (never track)
**/processor*/
**/polyMesh/
**/CFD/[0-9]*/
**/log.liggghts*
**/results/
**/restarts/
**/*.liggghts
**/dump.*
tools/
physics_grid/
